@media all and (max-width: 670px) {
	.footer{
		text-align: center;
	}
	.j-makanan {
		float: left;
   		width: 100%;
   		padding-bottom: 50px;
  	}
	.btn {
    	width: 100%;
  }
  .food-icon {
  	width: 100%;
  }
  .makan{
  	margin-bottom: 10px;
  }
  .top-wrap{
  	text-align: left;
  }
  .header-log{
  	display: none;
  }
  .menu-icon{
  	display:block; ;
  }
  .top-wrap h1 {
   		font-size: 24px;
    	line-height: 36px;
  }  
  .top-wrap h2{
  		font-size: 20px;
    	line-height: 30px;
  }
  .top-wrap h4 {
    	font-size: 14px;
    	line-height: 20px;
  }
  
  .food-icon{
  	display: block;
  }
  .heading h2 {
    	font-size: 20px;
    	font-weight: normal;
  	}
  	.message-wrapper h2{
  		font-size: 20px;
  		margin-left: auto;
  		margin-right: auto;
  	}
  	.message-wrapper h3{
  		font-size: 20px;
  		margin-left: auto;
  		margin-right: auto;
  	}
  	.footer2 img {
  		width: 25px;
  		display:inline;
  		margin-left:auto;
  		margin-right:auto;
	}
	.footer2 h1{
		text-align: center;
	}
}

@media all and (max-width: 1000px){
	.j-makanan {
		float: left;
   		width: 50%;
    	margin-bottom: 50px;
  	}
  	.j-makanan h3{
  		position: absolute;
  		top: 44%;
  		width: 100%

  	}
  	.top-wrap h1 {
    	font-size: 32px;
  	}
  	.heading2 h2 {
    	font-size: 20px;
  	}
  	.heading2 h3{
  		font-size: 20px;	
  	}
}
